* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.singer-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 80vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.app-container {
  background-color: #152850;
  height: 100%;
  background-size: cover;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
}
.head {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}
.para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.input {
  height: 40px;
}
.description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 50px;
  text-align: center;
  padding-bottom: 80px;
}
